.item-list {
  border: 1px solid;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: coral;
  cursor: pointer;
}

.item-list.item-done {
  background-color: greenyellow;
}

.wrapper {
  width: 50%;
  margin: 10px;
}

input {
  width: 400px;
}

button {
  width: 100px;
  margin-left: 38px;
  background-color: yellow;
  border: 2px solid;
  cursor: pointer;
}